[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
lazypredict = "*"
scikit-learn = "*"
lazy-text-predict = "*"

[dev-packages]

[requires]
python_version = "3.10"
